[Unit]
Description=Masks Distribution service
Wants=network-online.target
After=network.target network-online.target
[Service]
PIDFile=/var/run/flyers.pid
Environment="PATH=$PATH"
ExecStart=/usr/bin/python3 -m reachy_masks.mask_launcher --log-file /home/pi/dev/reachy-masks/masklog
User=pi
Group=pi
Type=simple
[Install]
WantedBy=multi-user.target